{% extends 'base.html.twig' %}

{% block title %}Physical Matter{% endblock %}

{% block body %}
<div class="bookPage">
    {% include 'header/index.html.twig' %}
    <h1>Physical Matter</h1>
        <a href="{{ path('app_register') }}">REgister</a>
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_logout') }}">Logout</a>
    <div>
        {% for book in books %}
            <h2>{{book.title|raw}}</h2>
            <p>{{book.author|raw}}</p>
            <p>{{book.price|raw}}</p>
            <p>{{book.pages|raw}}</p>
            <img src="{{book.imglink|raw}}" alt="{{book.title|raw}}" width="100">
            <a href="{{ path('book_show', {'slug': book.slug}) }}">Voir</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('book_edit', {'slug': book.slug}) }}">Modifier</a>

                <form action="{{ path('book_delete', {'id': book.id}) }}" method="post">
                    <input type="hidden" name="csfr" value="{{csrf_token('delete' ~ book.id)}}">
                    <input type="submit" value="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce Livre de la boutique ?')">
                </form>
            {% endif %}
            
        {% else %}
            <p>Aucun Livre</p>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Ajouter un Livre</h2>
            {{form(form)}}
        {% endif %}     

    </div>
</div>
{% endblock %}
